@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 1500px;
  overflow-x: hidden;
}

/* style navbar and hamburger menu for mobile */
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  z-index: 10;
  padding: 20px 0;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.logo {
  margin-left: 60px;
  display: flex;
  width: 70px;
}

.logo img {
  width: 70px;
}

.logo h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -2%;
  margin-left: 10px;
}

/* add class for change nav then scroll */
nav.sticky {
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 20px 0;
  transition: 0.5s ease-in;
  color: black;
}

nav.sticky ul li a {
  color: black;
}

/* hamburger menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-top: 15px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  top: -3px;
  left: -5px;
  opacity: 0;
  cursor: pointer;
}

/* hamburger animation */
nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, 0);
}
nav .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* end style navbar and hamburger menu for mobile */

/* style hero home */
.container_hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-position: top center;
  z-index: 1;
  position: relative;
}

#hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  margin: 0 auto;
}

#hero h1,
#hero h2 {
  width: fit-content;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #f5f5f5;
  position: relative;
  line-height: 64px;
  font-weight: 700;
}

#hero h2 {
  font-weight: 200;
  font-size: 35px;
}

.button-home {
  display: inline-block;
  text-decoration: none;
  background-color: #a19a4c;
  color: #000;
  padding: 18px;
  border-radius: 20px;
  margin: 20px auto;
  font-size: 12px;
  font-weight: 500;
}

.button-home:hover {
  background-color: #dbd267;
  transition: 1s ease-in-out;
}

/* style section our team */
#our_team {
  padding: 6rem;
}

#our_team h1 {
  text-align: center;
  margin-bottom: 30px;
}

.mentor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box__card__mentor {
  background-color: #a19a4c;
  width: max-content;
  height: fit-content;
  padding: 30px;
  border-radius: 12px;
  box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  transition: transform 0.8s ease;
}

/* .box__card__mentor:hover {
  background-color: #a19a4cc7;
  transform: scale(1.05);
} */

.box__card__mentor img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile__data__mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile__data__mentor p {
  font-weight: 500;
  color: black;
}

.box__card__member {
  background-color: #a19a4c;

  padding: 20px;
  border-radius: 12px;
  box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -9px -9px 18px -3px rgba(0, 0, 0, 0.25);
  transition: transform 0.8s ease;
}

.box__card__member img {
  margin-left: 35px;
  margin-bottom: 20px;
  width: 200px;
  object-fit: cover;
}

.title__mentor {
  margin-left: 10px;
}

.title__member {
  margin-top: 100px;
}

.line,
.line__member {
  width: 75px;
  height: 5px;
  background-color: #a19a4c;
  margin-left: 10px;
  margin-bottom: 50px;
}

.line__member {
  margin-left: 0;
}

.fa-brands {
  font-size: 30px;
  color: black;
  border-radius: 10px;
  margin: 10px;
}
.name {
  font-size: 16px;
  font-weight: 600;
}

.universitas,
.role {
  font-size: 14px;
}

/* carousel */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end carousel */

/* end section our team */

/* end style hero home */

/* responsive for breakpoints mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  .menu-toggle {
    display: flex;
    margin-right: 50px;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
  }

  nav.sticky .menu-toggle span {
    background-color: black;
  }

  .logo {
    margin-right: 100px;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .logo h3 {
    font-size: 24px;
  }

  /* style section home for mobile */
  #hero .hero {
    padding: 0;
  }
  #hero h1 {
    font-size: 20px;
    line-height: 40px;
  }

  #hero h2 {
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    font-weight: 200;
  }

  /* style our team for mobile */
  #our_team {
    padding: 6rem 1rem;
  }
  .mentor {
    display: flex;
    flex-direction: column;
  }
}
