/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f1f4c8;
  --sidebar-color: #a19a4c;
  --primary-color: #fff;
  --primary-color-light: #f1f4c8;
  --toggle-color: #ddd;
  --text-color: #000;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* Target seluruh scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (jalur di belakang scrollbar) */
::-webkit-scrollbar-track {
  background: #e9ecef;
}

/* Handle (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
  background: #adb5bd;
  border-radius: 10px;
}

/* Handle saat di-hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 70px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 60px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.main .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
}

main.dark .home .text {
  color: var(--text-color);
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

.bottom-content {
  margin-bottom: 20px;
}

body.dark h1,
footer {
  color: var(--text-color);
}

body.dark .line-footer {
  background-color: var(--text-color);
}

body.dark .line__title_conclusion,
body.dark .line__title_recommendation {
  background-color: #f1f4c8;
}

body.dark .hamburger {
  background-color: var(--body-color);
}

body.dark .nav-hamburger {
  background-color: var(--body-color);
  backdrop-filter: blur(0);
  box-shadow: none;
}

/* ========== Hamburger Menu ========== */
.hamburger {
  width: 100%;
  display: none;
  position: fixed;
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 10px 5%;
  margin-bottom: 10px;
}
.nav-hamburger {
  border-radius: 5px;
  background-color: #a19a4c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.nav-hamburger i {
  font-size: 2.5rem;
  color: #fff;
}

/* end sidebar */
main {
  padding: 2rem 8rem;
}

.line__title_conclusion {
  width: 100px;
  height: 4px;
  background-color: #a19a4c;
  border-radius: 2px;
}

.line__title_recommendation {
  width: 150px;
  height: 4px;
  background-color: #a19a4c;
  border-radius: 2px;
}

.content {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.content-card {
  display: flex;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.content-card p {
  text-align: justify;
}
.fa-angles-right {
  margin: auto 20px;
}
#conclusion h1 {
  margin-top: 50px;
}
/* style footer */
footer {
  padding: 1rem 2rem;
}

.line-footer {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.title__footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
/* end style footer */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    padding: 0;
  }

  #recommendation {
    padding: 6rem 2rem 0rem 2rem;
  }
  #conclusion {
    padding: 1rem 2rem;
  }
  .sidebar {
    transition: left 0.3s ease;
  }

  .sidebar.close {
    left: -200px;
  }

  .sidebar.close .image {
    display: none;
  }

  .sidebar header .toggle {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  footer {
    padding: 3rem 3rem 1rem 3rem;
  }

  .title__footer {
    margin: 10px 0;
  }

  .line-footer {
    width: 100%;
  }
}

/* here responsive for breakpoints mobile */
@media screen and (max-width: 576px) {
  main {
    padding: 6rem 2rem;
  }
  .sidebar {
    transition: left 0.3s ease;
  }

  .sidebar.close {
    left: -200px;
  }

  .sidebar.close .image {
    display: none;
  }

  .sidebar header .toggle {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  main {
    padding: 0;
  }

  #recommendation {
    padding: 6rem 1.5rem 0 1.5rem;
  }
  #conclusion {
    padding: 0 1.5rem;
  }
  footer {
    padding: 2rem 2rem 0 2rem;
    margin-top: 20px;
  }

  .line-footer {
    width: 100%;
  }

  .title__footer {
    font-size: 12px;
  }
}
/* end responsive for breakpoints mobile */
.hamburger i.bx-menu {
  display: block;
}

.hamburger i.bx-x {
  display: none;
}

.hamburger.open i.bx-menu {
  display: none;
}

.hamburger.open i.bx-x {
  display: block;
}
